{% extends "base.html" %}
{% load static notifications_tags %}

{% block body %}
<div class="row justify-content-center p-5">
  <div class="col">
    <button onclick='make_notification()' class="btn btn-primary">Make a notification</button>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col">
    {% live_notify_list list_class='live_notify_list list-group' %}
  </div>
</div>
{% endblock body %}

{% block scripts %}
<script src="{% static 'live-test.js' %}" type="text/javascript"></script>
{% endblock scripts %}
